<?xml version="1.0" encoding="utf-8"?>
<ProxyHeroEntity xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Domain>http://www.loamen.com/soft/proxyhero/</Domain>
  <CommercialUrl>http://weibo.com/loamen</CommercialUrl>
  <EnglishCommercialUrl>http://www.loamen.com/</EnglishCommercialUrl>
  <StatisticsUrl>http://www.loamen.com/mini/</StatisticsUrl>
  <EnglishStatisticsUrl>http://www.loamen.com/mini/</EnglishStatisticsUrl>
  <EnableCommercialPage>0</EnableCommercialPage>
  <Version>1.6.2</Version>
  <UpdatedEnableUse>1</UpdatedEnableUse>
  <EnableDeductPoints>0</EnableDeductPoints>
  <CloudTestHours>1</CloudTestHours>
  <BbsDomain>https://github.com/loamen/ProxyHero/issues</BbsDomain>
  <UpdateUrl>http://www.loamen.com</UpdateUrl>
  <About>Loamen Proxy Hero is a professional proxy software to test, use and manage proxy list. </About>
</ProxyHeroEntity>